.about-service {
  @include mp-reset;
  background-color: $bg-black;
  //background-color: transparent;

  &__title {
    font-family: $font-family-Roboto-Condensed-regular;
    font-size: 36px;
    line-height: 51px;
  }
}

.about-service__menu {
  @include list-reset;
  padding-top: 22px;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}

.about-service__item-content {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.about-service__item {
  width: 32%;
  max-width: 370px;
  min-height: 620px;
  margin-right: 2%;
  margin-bottom: 50px;

  &--img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;

    opacity: 0.2;
  }

  &--title {
    display: inline-block;
    margin: 0;
    margin-top: 50px;
    vertical-align: middle;
    width: 170px;
    padding-left: 44px;
    font-family: $font-family-Roboto-Condensed-regular;
    font-weight: 200;
    font-size: 20px;
    line-height: 30px;
    color: $font-white;
    position: absolute;
    top: 0;
    left: 0;
  }

  &--enter {
    display: inline-block;
    vertical-align: middle;
    width: 63px;
    height: 63px;
    right: 0;
    bottom: 0;
    background-color: $bg-blue;
    position: absolute;

    & svg {
      margin: 0;
      margin-top: 30px;
      margin-left: 28px;
    }

    &:hover {
      background-color: $bg-blue;
      opacity: 0.7;
    }

    &:focus {
      background-color: $bg-blue;
      opacity: 0.7;
    }

    &:active {
      background-color: $bg-blue;
      opacity: 0.1;
    }
  }
}

ul.about-service__menu li:nth-child(3n + 3) {
  margin-right: 0;
}

@media (max-width: $tablet-width) {
  .about-service {
    &__title {
      @include text;
      margin-top: 50px;
      margin-bottom: 49px;
      padding-right: 100px;
      font-size: 32px;
      font-weight: 200;
      line-height: 140.62%;
    }
  }

  .about-service__menu {
    width: 100%;
    padding-top: 0;
    flex-direction: column;
    justify-content: start;
  }

  .about-service__item {
    width: 100%;
    max-width: 100%;
    min-height: 256px;
    margin-bottom: 45px;

    &--title {
      margin: 40px 0 0;
      padding-left: 45px;
    }

    //&--img {
    //  object-fit: cover;
    //  height: 100%;
    //  width: 100%;
    //}
  }

  .about-service__item--title-correct {
    margin-top: 51px;
  }
}

@media (max-width: $mobile-width) {
  .about-service {
    &__title {
      @include mp-reset;
      margin-top: 49px;
      margin-bottom: 42px;
      padding-left: 10px;
      font-size: 28px;
      line-height: 140.62%;
    }
  }

  .about-service__item {
    margin-bottom: 30px;

    &--title {
      margin: 20px 0 0;
      padding-left: 35px;
    }
  }

  .about-service__item--title-correct {
    margin-top: 30px;
  }
}
