.page-header {
  @include mp-reset;
  min-height: 878px;
  background-image: url("../../img/header.png");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-color: #f9f9f9;
  background-size: 1920px 878px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  &__nav {
    min-height: 85px;
    padding-top: 33px;
    padding-left: 13.2%;
    padding-right: 13.2%;
  }

  &__content {
    min-height: 760px;
    padding-left: 13.1%;
    padding-right: 9.2%;
    background-image: url("../../img/device.png");
    background-repeat: no-repeat;
    background-position: 85.4%;
    background-size: 705px 515px;
  }
}

.page-header__menu {
  @include list-reset;
  display: flex;
  justify-content: flex-start;
}

