.wrapper-header {
  @include mp-reset;
  margin: 0 auto;
  padding: 0 12px;
  background-image: url("../../img/device.png"), url("../../img/header.png");
  //background-image: url("../../img/device.png");
  background-repeat: no-repeat, no-repeat;
  background-position: calc(450px + 48.3%) 255px, 50% 0;
  background-size: 705px 515px, 1920px 878px;
  background-color: transparent;
}
