@font-face {
  font-family: "Open Sans";
  src:
    url("../fonts/opensansbold.woff2") format("woff2"),
    url("../fonts/opensansbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src:
    url("../fonts/roboto.woff2") format("woff2"),
    url("../fonts/roboto.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Condensed bold";
  src:
    url("../fonts/robotocondensedbold.woff2") format("woff2"),
    url("../fonts/robotocondensedbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

//@font-face {
//  font-family: "Roboto Condensed ";
//  src:
//    url("../fonts/robotocondensedlight.woff2") format("woff2"),
//    url("../fonts/robotocondensedlight.woff") format("woff");
//  font-weight: 300;
//  font-style: normal;
//  font-display: swap;
//}

@font-face {
  font-family: "Roboto Condensed Regular";
  src:
    url("../fonts/RobotoCondensed-Regular.woff2") format("woff2"),
    url("../fonts/RobotoCondensed-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PT Mono";
  src:
    url("../fonts/PTMono-Regular.woff2") format("woff2"),
    url("../fonts/PTMono-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
