body {
  @include mp-reset;
  min-width: 320px;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;

  font-family: $font-family-Open-Sans;
  font-size: 17px;
  line-height: 20px;
  color: white;
  font-style: normal;

  background-color: $bg;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
