$font-family-Roboto-Condensed: "Roboto Condensed", "Arial", sans-serif;
$font-family-PT-Mono: "PT Mono", "Arial", sans-serif;
$font-white: #ffffff;
$font-blue: #00b2ff;
$font-black: #666666;
$bg: #656565;
$bg-blue: #00b2ff;
$bg-white: #ffffff;
$bg-white-opacity: #19baff;
$bg-black: #1b2d37;
$mobile-width-min: 320px;
$mobile-width: 767px;
$desktop-width: 1920px;
$tablet-width: 1023px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

