$font-family-Open-Sans: "Open Sans", "Arial", sans-serif;
$font-family-Roboto: "Roboto", "Arial", sans-serif;
$font-family-Roboto-Condensed-normal: "Roboto Condensed", "Arial", sans-serif;
$font-family-Roboto-Condensed-bold: "Roboto Condensed bold", "Arial", sans-serif;
$font-family-PT-Mono: "PT Mono", "Arial", sans-serif;
$font-white: #ffffff;
$font-blue: #00b2ff;
$font-black: #666666;
$bg: #656565;
$bg-blue: #00b2ff;
$bg-white: #ffffff;
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1920px;
$desktop-width-min: 1024px;
$mobile-width-only: 767px;
